*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headline{
    font-family: fuzzybubble;
    color: #fff;
    width: 100%;
    text-align: center;
}

.sendboxContainer {
    width: 80%;
    padding: 1rem;
    background: rgb(239, 239, 239);
    border: 2px solid grey;
}

.triangle {
    position: relative;
    height: 320px;
    clip-path: polygon(50% 0, 20% 100%, 80% 100%);
}

.triangle div {
    position: absolute;
    background: red;
    top: 0;
    width: 100%;
    height: 100px;
    margin: 0 auto 10px;
    color: red;
    line-height: 100px;
    text-align: center;
    font-size: 0.8rem;
    transition: all ease 7s;
}

.triangle:hover div {
    color: white;
}

.top {
    z-index: 3;
}

.mid {
    z-index: 2;
}

.bottom {
    z-index: 1;
}

.triangle:hover .mid {
    top: 110px;
    background: green;
}

.triangle:hover .bottom {
    top: 220px;
    background: gold;
}

