*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 47, 0);
}

.main-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

section {
    background-color: #ffff;
    border: 2px solid grey;
    width: 70%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 7px 7px 7px 0 gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 10px 0;
}

/* facebook  */


.facebook-style-btn {
    border-radius: 2px;
    font-size: 0.9rem;
    padding: 6px 12px;
}

.facebook-style-dark {
    -moz-box-shadow: inset 0 1px 0 0 #4d73bf;
    -webkit-box-shadow: inset 0 1px 0 0 #4d73bf;
    box-shadow: inset 0 1px 0 0 #4d73bf;
    background: #4267b2;
    border: 1px solid #4267b2;
    color: white;
    text-shadow: 0 1px 0 #3359a5;
}

.facebook-style-dark:hover{
   background: #2b54a7;
}

.facebook-style-dark:active{
   background: #1d4698;
   border-color: #1d4698;
}

.facebook-style-light{
   background: f6f7f9;
   border: 1px solid #ced0d4;
   color: 4b4f56;
}

.facebook-style-light:hover{
    background: #e9ebee;
}

.facebook-style-light:active{
    background: #d8dade;
    border-color: #d8dade;
}

/* 3d buttons  */

.final_btn-3d-1{
    position: relative;
    background: orangered;
    border: none;
    color: #ffff;
    padding: 15px 22px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16 100% 30%);
    outline: none;
}

.final_btn-3d-1:hover{
    background: hsl(16, 100% 45%);
}

.final_btn-3d-1:active{
    background: hsl(16, 100% 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.final_btn-3d-1::before{
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right: 6px solid hsl(16, 100%, 30%);
    border-left-width: 0;
    top: 0;
    left: -6px;
}


.final_btn-3d-1::after{
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
   border-top: 6px solid hsl(16, 100%, 30%);
   border-bottom-width: 0;
   right: 0;
   bottom: -6px;
}

.final_btn-3d-1:active::before{
    border: 3px solid transparent;
    border-right: 3px solid hsl(16, 100%, 30%);
    border-left-width: 0;
    left: -3px;
}

.final_btn-3d-1:active::after{
    border: 3px solid transparent;
    border-top: 3px solid hsl(16, 100%, 30%);
    border-bottom-width: 0;
    bottom: -3px;
}