*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headline{
     font-family: pacifico;
    color: #fff;
    width: 100%;
    text-align: center;
}

section {
    width: 90%;
    height: auto;
    padding: 1rem;
    background: #fff;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectiontitle {
    font-family: fuzzybubble;
    font-size: 14px;
    color: #000;
    line-height: 30px;
}

.tooltip {
    position: relative;
    height: 60px;
    width: 250px;
    background: #f2395a;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    margin: 0 auto;
}

.tooltip::before {
    content: attr(title);
    position: absolute;
    z-index: 2;
    display: none;
    width: 200px;
    padding: 10px;
    font-size: 0.8rem;
    line-height: 1.4rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    transition: all 0.8s ease;
}

.tooltip::after {
   position: absolute;
   z-index: 1;
   display: none;
   width: 0;
   height: 0;
   border: 5px solid transparent;
   content: "";
}

.tooltip:hover::before,
.tooltip:hover::after {
    display: inline-block; 
}

.tooltip.top::before {
    bottom: calc(100% + 5px); 
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.top::after {
   bottom: 100%;
   left: 50%;
   border-top-color: rgba(0, 0, 0, 0.8);
   border-bottom-width: 0;
   transform: translateX(-50%);
}

.tooltip.right::before {
    top: 50%;
    left: calc(100% + 5px);
    transform: translateY(-50%);
}

.tooltip.right::after {
    border-right-color: rgba(0, 0, 0, 0.8);
    border-left-width: 0;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.tooltip.bottom::before {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.bottom::after {
    top: 100%;
    left: 50%;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    border-top-width: 0;
    transform: translateX(-50%);
}

.tooltip.left::before {
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
}

.tooltip.left::after {
    border-left-color: rgba(0, 0, 0, 0.8);
    border-right-width: 0;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}