*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headline{
    font-family: fuzzybubble;
    color: #fff;
    width: 100%;
    text-align: center;
}

.sendboxContainer {
    width: 80%;
    padding: 1rem;
    background: rgb(239, 239, 239);
    border: 2px solid grey;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.dropdown__hover {
    display: inline-block;
    padding: 10px;
    background: #323b40;
    color: #ffff;
    cursor: pointer;
    border: none;
}

.dropdown__hover:hover {
    background: #2222;
}

.dropdown__menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 200px;
    background: #fff;
    color: #323b40;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown__menu {
    display: block;
}

.dropdown__menu  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border: none;
    border-top: 1px solid #e0e0e0;
}

.dropdown__menu  a:hover {
    background: green;
    color: #ffff;
}