*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headline{
    font-family: fuzzybubble;
    color: #fff;
    width: 100%;
    text-align: center;
}

.sendboxContainer {
    width: 80%;
    padding: 1rem;
    background: rgb(239, 239, 239);
    border: 2px solid grey;
}

.layout1 article {
    width: 58%;
    float: left;
}

.layout1 aside {
    width: 40%;
    float: right;
}

.layout1 footer {
    clear: both;
}

.layout1 header {
    background: rgba(0, 238, 255, 0.1);
    padding: 1rem;
     border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
}

.layout1 article {
    display: flex;
    flex-direction: row;
     background: rgba(0, 238, 255, 0.1);
     border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
     padding: 1rem;
}

.layout1 aside {
    display: flex;
    flex-direction: row;
     background: rgba(0, 238, 255, 0.1);
     border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
     padding: 1rem;
}

.layout1 footer {
    background: rgba(0, 238, 255, 0.493);
    padding: 1rem;
     background: rgba(0, 238, 255, 0.1);
      border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
}

.layout2 header .logo {
    width: 20%;
    float: left;
    margin: 0;
}

.layout2 header nav {
    width: 78%;
    float: right;
    margin: 0;
}

.layout2 header nav ul {
    display: flex;
    justify-content: space-between;
}

.layout2 header nav ul li {
    list-style-type: none;
}

.layout2 header nav ul li a {
    text-decoration: none;
    color: green;
    font-size: 1rem;
    font-family: fuzzybubble;
}

.layout2 header::after {
    display: table;
    content: "";
    clear: both;
}

.layout2 article {
    width: 50%;
    margin-left: 2%;
    float: left;
}

.layout2 aside.sidenav {
    width: 23%;
    float: left;
}

.layout2 footer {
    clear: both;
}

.layout2 header {
    background: rgba(0, 238, 255, 0.1);
    padding: 1rem;
     border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
}

.layout2 article {
    display: flex;
    flex-direction: row;
     background: rgba(0, 238, 255, 0.1);
     border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
     padding: 1rem;
}

.layout2 aside {
    display: flex;
    flex-direction: row;
     background: rgba(0, 238, 255, 0.1);
     border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
     padding: 1rem;
}

.layout2 footer {
    background: rgba(0, 238, 255, 0.493);
    padding: 1rem;
     background: rgba(0, 238, 255, 0.1);
      border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
}

.layout3 header {
    background: rgba(0, 238, 255, 0.1);
    padding: 1rem;
     border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
}

.layout3 header .logo {
    width: 20%;
    float: right;
    margin: 0;
}

.layout3 header nav {
    width: 78%;
    float: left;
    margin: 0;
}

.layout3 header::after{
    display: table;
    content: "";
    clear: both;
}

.layout3 article{
    width: 32%;
    float: left;
    margin: 0 2% 0 0;
}

.layout3 article:last-child{
    margin: 0;
}

.layout3 .articles::after {
    display: table;
    content: "";
    clear: both;
}

.layout3 header nav ul {
    display: flex;
    justify-content: space-between;
}

.layout3 header nav ul li {
    list-style-type: none;
}

.layout3 header nav ul li a {
    text-decoration: none;
    color: green;
    font-size: 1rem;
    font-family: fuzzybubble;
}

.layout3 article {
    display: flex;
    flex-direction: row;
     background: rgba(0, 238, 255, 0.1);
     border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
     padding: 1rem;
}

.layout3 aside {
    display: flex;
    flex-direction: row;
     background: rgba(0, 238, 255, 0.1);
     border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
     padding: 1rem;
}

.layout3 footer {
    background: rgba(0, 238, 255, 0.493);
    padding: 1rem;
     background: rgba(0, 238, 255, 0.1);
      border: 1px solid rgba(188, 188, 188, 0.692);
     border-radius: 0.5rem;
}


@media screen and (max-width: 768px) {
    .layout1 article,
    .layout1 aside,
    .layout2 header .logo,
    .layout2 header nav,
    .layout2 article,
    .layout2 aside.sidenav,
    .layout2 aside.sidebar,
    .layout3 article,
    .layout3 aside,
    .layout3 header .logo,
    .layout3 header nav {
        float: none;
        width: 100%;
        margin: 0 0 2%;
    }
}