*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headline{
    font-family: fuzzybubble;
    color: #fff;
    width: 100%;
    text-align: center;
}

.sendboxContainer {
    width: 80%;
    padding: 1rem;
    background: rgb(255, 253, 253);
    border: 2px solid grey;
}

section {
    margin-top: 3rem;
}

.layers {
    position: relative;
    min-height: 640px;
    max-width: 360px;
}

.layers img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    transition: all ease 1600ms;
    transform-style: preserve-3d;
}

.layers img.mid {
    width: 320px;
    left: 20px;
}

.layers img.top {
    width: 300px;
    left: 30px;
    top: 0;
}

.layers img.tippy {
    width: 280px;
    left: 40px;
    top: -150px;
}

.layers:hover img {
    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg) translateX(35px) translateY(0px) translateZ(180px);
}

.layers:hover img.mid {
    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg) translateX(35px) translateY(0px) translateZ(240px);
}

.layers:hover img.top {
    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg) translateX(35px) translateY(0px) translateZ(280px);
}

.layers:hover img.tippy {
    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg) translateX(35px) translateY(0px) translateZ(260px);
}