*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section h4 {
    color: #fff;
    font-family: fuzzybubble;
    width: 100%;
}

section {
     width: 100%;
}


.path {
    position: relative;
    width: 100%;
    height: 100px;
    background: #333;
    padding: 20px;
    overflow: hidden;
}


.path::after {
    content: "";
    position: absolute;
    display: block;
    border-top: 12px dotted #fff;
    width: 90%;
    top: 50%;
    left: 5%;
    margin-top: -6px;
}

.pacman {
    position: absolute;
    z-index: 99;
    top: 50%;
    animation: moveForward 5s linear infinite;
}

.pacman::before, .pacman::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border: 30px solid yellow;
    margin-top: -30px;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: mouthTop 0.7s ease infinite;
}

.pacman::after {
    border-color: yellow;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: mouthBottom 0.7s ease infinite;
}

.ghost {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 20%;
    height: 70px;
    width: 60px;
    margin-top: -35px;
    background: red;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.ghost::before, .ghost::after {
    content: "";
    position: absolute;
    background: #fff;
    height: 25px;
    width: 20px;
    border-radius: 100%;
    top: 15px;
    left: 4px;
}

.ghost::after {
    left: 28px;
}

.eyes::before, .eyes::after {
    content: "";
    position: absolute;
    background: blue;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    top: 25px;
    left: 5px;
    z-index: 99;
}

.eyes::after {
    left: 30px;
}

@keyframes moveForward {
    0% {
        left: -10%;
    }
    100% {
        left: 100%;
    }
}

@keyframes mouthTop {
    50% {
        transform: rotate(44deg);
    }
}

@keyframes mouthBottom {
    50% {
        transform: rotate(-44deg);
    }
}